<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>edu.gmu.Welli-iOS.backgroundfetch</string>
		<string>edu.gmu.Welli-iOS.nextbackgroundtask</string>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>NSLocalUsageDescription</key>
	<string>We need to send notifications when your heart rate exceeds the threshold.</string>
	<key>NSPrincipleClass</key>
	<string>AppDelegate</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
		<string>external-accessory</string>
		<string>fetch</string>
		<string>nearby-interaction</string>
		<string>processing</string>
		<string>push-to-talk</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
</dict>
</plist>
